{% extends "layout.html" %}

{% block title %}
    Add a Location
{% endblock %}

{% block main %}
    <form id="form" action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="location" name="location" placeholder="Location" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" id="comments" name="comments" placeholder="Comments" type="comments">
        </div>
        <div class="form-group">
            <select class="form-control" name="noise" required>
                <option disabled selected value="">Noise level</option>
                    {% for i in range(6) %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

