{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

<!-- This page should be disacrded -->

{% block main %}
<table class="table table-striped">
  <thead>
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Overall Ranking</th>
          <th scope="col">Best Time to Go</th>
          <th scope="col">Noise Level</th>
          <th scope="col">Crowdedness</th>
          <th scope="col">Atmosphere</th>
          <th scope="col">Best Activities</th>
          <th scope="col">Link to Map</th>
          <th scope="col">Comments</th>
        </tr>
  </thead>
  <tbody>
    {% for item in location %}
        <tr>
            <td>{{ item['name']}}}}</td>
            <td>{{ item['score'] }}</td>
            <td>{{ item['time'] }}</td>
            <td>{{ item['noise'] }}</td>
            <td>{{ item['crowdedness'] }}</td>
            <td>{{ item['atmosphere'] }}</td>
            <td>{{ item['activity'] }}</td>
            <td>{{ item['map'] }}</td>
            <td>{{ item[comments'] }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}